[Desktop Entry]
Type=Application
Name=LaunchStore
Comment=Manage and discover Linux applications
Exec=launchstore %U
Icon=application-x-executable
Terminal=false
Categories=Utility;System;
MimeType=application/vnd.appimage;application/x-iso9660-appimage;application/x-appimage;
